.navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(204, 204, 204, 0.2);
  box-sizing: border-box;
  box-shadow: 20px 20px 50px rgb(225, 224, 224);
  padding: 0 1.2rem;  
  align-items: center;
}

img{
  height: 68px;
  align-items: center;
}

.search-box{
  display: flex;
  align-items: center;
  border: 1px solid rgba(204, 204, 204, 0.8);
  border-radius: 8px;
  width: 400px;
  height: 50px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0 1.2rem;
}

.search-box i{
  font-size: 1.2rem;
  color: rgb(163, 163, 163);
  margin-right: 0.5rem;
}

.search-box form input{
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  color: rgb(85, 85, 85);
  background: transparent;
}

.buttons-action{
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.authentication-button{
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  white-space: nowrap;
  align-items: center;
}

.write-btn{
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.9);
  padding: 7px 13px;
}

.write{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  font-size: 18px;
  font-weight: 400;
}

.signIn-btn, .signUp-btn, .logout-btn{
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  padding: 8px 13px;
  cursor: pointer;
}

